<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Actualizează Curs</title>
</head>
<body>
    <h1>Actualizează Curs</h1>
    <form action="/track/actualizeaza-curs" method="post">
        <label for="nume">Nume activitate:</label>
        <input type="text" id="nume" name="nume"><br>
        
        <label for="descriere">Descriere:</label>
        <input type="text" id="descriere" name="descriere"><br>
        
        <button type="submit">Adaugă Activitate</button>
    </form>
</body>
</html>
